{% extends 'baseAdmin.html.twig' %}

{% block contenu%}
</br>
    <div class="col-lg-10">
        <div class="card">
       
            <div class="card-header d-flex align-items-center">
                <h3 class="h4"><h3 class="h4"> Réinitialisation du mot de passe </h3>
            </div>
    <div class="card-body">
        Le mot de passe de 
        {% if user.etudiant.id is defined %}
          {{user.etudiant.prenom }} {{ user.etudiant.nom}}
        {% endif %}

        {% if user.enseignant.id is defined %}
          {{user.enseignant.prenom }} {{ user.enseignant.nom}}
        {% endif %}

        ayant l'adresse mail {{user.email}} a été réinitialisé avec le mot de passe : 

         {% if user.etudiant.id is defined %}
            1234abcd

        {% endif %}
        {% if user.enseignant.id is defined %}
          mpProfSIO
        {% endif %}
           
    </div>
        </div>
    </div>      
{% endblock %}
   